@import "tailwindcss";

@theme {
  --color-primary: #ff5a5f;
}

.leaflet-container {
  z-index: 0 !important;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
